@import url('https://fonts.googleapis.com/css2?family=Seaweed+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
/* font-family: 'Seaweed Script', cursive; */
/* font-family: 'Caveat', cursive; */
/* font-family: 'Shadows Into Light', cursive; */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body , html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    border-radius: 3px;
}
header {
    width: 100%;
    height: 20%;
    text-align: center;
    position: relative;
    /* position: relative; */
    /* z-index: 0; */
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQCHwqgUiNCd2cf9A5qUJB5cPZ1LI_4Q-PkMA&usqp=CAU');
}
header+section {
    height: 100%;
    background-color: #f0dddd;
    position: relative;
    z-index: 2;
}
h2 {
    width: 350px;
    height: 80px;
    display: inline-block;
    margin-top: 50px;
    font-family: 'Seaweed Script', cursive;
    font-size: 70px;
    font-weight: normal;
    color: #806196;
    text-shadow: 0 0 20px black;
    letter-spacing: 25px;
}
h3 {
    color: #372d2e;
    font-family: 'Shadows Into Light', cursive;
    position: absolute;
    width: 300px;
    height: 30px;
    font-size: 20px;
    top: 50%;
    left: 50%;
    margin-left: -140px;
    margin-top: -15px;
    text-shadow: 0 0 20px black;
}
header section {
    background-color: #f0dddd;
    z-index: 0;
}
main {
    margin: 0 auto;
    width: 50%;
    height: 80%;
    position: relative;
    z-index: 2 ;
}
main div {
    margin: 0 auto;
    width: 100%;
    height: 20%;
    display: flex;
    column-gap: 30px;
    align-items: center;
}
hr {
    border: 1px dashed  #e0c197d5;
    margin: 0 auto;
    width: 100%;
}
img {
    width: 130px;
    height: 130px;
    border-radius: 20px;
}
h1 , p {
    padding: 0;
    margin: 0;
}
h1 {
    font-size: 35px;
    margin-bottom: 10px;
    font-family: 'Seaweed Script', cursive;
    font-weight: 500;
}
p {
    color: rgb(83, 70, 165);
    font-size: 30px;
    font-weight: normal;
    font-family: 'Caveat', cursive;
    line-height: 35px;
}
.japan h1 {
    color: #5c474c;
}
.french h1 {
    color: #cf807a;
}
.china h1 {
    color: #372d2e;
}
.thailand h1 {
    color: #f8b301;
    line-height: 27px;
}
.singapore h1 {
    color: #8fa74e;
}
.japan img {
    border: 3px solid #5c474c;
}
.french img {
    border: 3px solid #cf807a;
}
.china img {
    border: 3px solid #372d2e;
}
.thailand img {
    border: 3px solid #f8b301;
    line-height: 27px;
}
.singapore img {
    border: 3px solid #8fa74e;
}